DATABASE_URL=
APP_BASE_URL=http://localhost:3000

ADZUNA_APP_ID=
ADZUNA_APP_KEY=

FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
FRANCE_TRAVAIL_SCOPE=api_offresdemploi

CRON_JOB_ORG_API_KEY=
CRON_TRIGGER_SECRET=
